<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
      <header>
        {{ site.name }}
      </header>

      <section class='container'>
        {{ content }}
      </section>

      <footer>
        <h2>Eduardo Zaghi</h2>
        <h3>Web Developer</h3>
        <h4><a href="mailto:eduardo@loldesign.com.br?subject=feedback" "email me">email me</a></h4>
      </footer>
    </body>
</html>
